easydict
joblib
h5py
matplotlib==2.2.4
mne==0.17.2
# minimal for deepsleepnet data converter
numpy==1.12.0
opencv-python
pandas==0.24.2
Pillow
scikit-learn==0.20.3
scipy==1.2.2
tensorflow-gpu==1.13.1
torch
