# TPU Utils
tpu-info
# Tensorflow packages
# TODO: b/447621961 - re-enable tensorflow-tpu when a compatible libtpu can be found.
tensorflow-cpu==${TENSORFLOW_VERSION}
tensorflow_hub
tensorflow-io
tensorflow-probability
tensorflow_datasets
# Torch packages
https://download.pytorch.org/whl/cpu/torch-${TORCH_VERSION}%2Bcpu-${PYTHON_WHEEL_VERSION}-${PYTHON_WHEEL_VERSION}-${TORCH_LINUX_WHEEL_VERSION}.whl
https://download.pytorch.org/whl/cpu/torchaudio-${TORCHAUDIO_VERSION}%2Bcpu-${PYTHON_WHEEL_VERSION}-${PYTHON_WHEEL_VERSION}-${TORCH_LINUX_WHEEL_VERSION}.whl
https://download.pytorch.org/whl/cpu/torchvision-${TORCHVISION_VERSION}%2Bcpu-${PYTHON_WHEEL_VERSION}-${PYTHON_WHEEL_VERSION}-${TORCH_LINUX_WHEEL_VERSION}.whl
https://storage.googleapis.com/pytorch-xla-releases/wheels/tpuvm/torch_xla-${TORCH_VERSION}-${PYTHON_WHEEL_VERSION}-${PYTHON_WHEEL_VERSION}-${TORCH_LINUX_WHEEL_VERSION}.whl
# Jax packages
jax[tpu]
distrax
flax
git+https://github.com/deepmind/dm-haiku
jraph
optax
trax
# Tunix GRPO
git+https://github.com/google/tunix
git+https://github.com/google/qwix
grain
# Jupyter packages
jupyter-lsp==1.5.1
jupyterlab
notebook
papermill
python-lsp-server[all]
# Keras Packages
keras>3
keras-cv
keras-nlp
# Kaggle Packages
kagglehub
# Other useful packages, add more here
accelerate
albumentations
diffusers
einops
fastparquet
ipywidgets
matplotlib
opencv-python
opencv-python-headless
pandas
pyarrow
scikit-learn
seaborn
timm
transformers
